{% extends "basepnc.html" %}

{% block conteudo %}

<div class="text-center">
    <h1 class="text-white py-4"> Plano Mega-Esqueleto </h1>
</div>

<main>
    <div class="justify-content-center text-center mb-5">
        <img src="/static/img/skf2.png" class="w-25 w-25 border border-light-subtle rounded-3 shadow">
    </div>
    <div class="container text-white">
        <h4 class="marrom_texto">Sobre:</h4>
        <p>
            O Plano Mega-Esqueleto é ideal para você que busca uma variedade de vantagens com um preço ainda acessível.
        </p>
        <p>
            Este plano fornece traslado de até 100km, higienização completa do nosso amigo defunto, além de tanatopraxia e diversos de nossos eventos disponíveis, que são possíveis de se encontrar na aba de eventos. Além de tudo, disponibilizamos diversos caixões de qualidade que irão agradar você e o presunto que tirará a soneca dos justos dentro dele.
        </p> 
        <p>
            Disponibilizamos acesso a um psicólogo especializado, que poderá ajudar você a lidar com a perda de seu ente querido. Como de costume, este plano também fornece integração com nossa inteligência artificial que poderá auxiliar com a dor da perda de diversas formas diferentes.
        </p>
        <h4 class="marrom_texto">Vantagens:</h4>
        <ul class="list-unstyled mt-1">
            <li>Tanatopraxia e tematização</li>
            <li>Traslado de até 100km</li>
            <li>Coroa de flores</li>
            <li>Apoio com psicólogo</li>
            <li>Caixões diversos</li>
            <li>Eventos diversos</li>
          </ul>
    </div>
    
</main>
    

{% endblock %}